<div class="personal">
    <h4>Personal Component</h4>
    <form [formGroup]="personalForm">
        <div>
            <label>First Name</label><br>
            <input type="text" formControlName="firstName">
        </div>
        <div>
            <label>Last Name</label><br>
            <input type="text" formControlName="lastName">
        </div>
        <div>
            <label>Email</label><br>
            <input type="text" formControlName="email">
        </div>
       
    </form>
</div>